<section id="profile">
<%= link_to "Create A New Profile", new_cohort_contact_path(@cohort), class: "btn btn-cc bump-down" %>
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Alumni</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <% @cohort.contacts.each do |contact| %>
      <%= render partial: "contacts/contact", :locals => { :contact => contact } %>
    <% end %> <!-- @cohort.contacts loop end -->
  </div><!-- row -->
</section>
