<!-- This has not been changed yet, its a straight copy and paste from the other file -->
      <div class="row">
        <div class="col-sm-4 profile-item">
          <a href="#profileModal1" class="profile-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src="http://fillmurray.com/360/250" class="img-responsive" alt="">
          </a>
        </div>
        <div class="col-sm-4 profile-item">
          <a href="#profileModal" class="profile-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src="http://fillmurray.com/360/250" class="img-responsive" alt="">
          </a>
        </div>
        <div class="col-sm-4 profile-item">
          <a href="#profileModal3" class="profile-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src="http://fillmurray.com/360/250" class="img-responsive" alt="">
          </a>
        </div>
        <div class="col-sm-4 profile-item">
          <a href="#profileModal4" class="profile-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src="http://fillmurray.com/360/250" class="img-responsive" alt="">
          </a>
        </div>
        <div class="col-sm-4 profile-item">
          <a href="#profileModal5" class="profile-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src="http://fillmurray.com/360/250" class="img-responsive" alt="">
          </a>
        </div>
        <div class="col-sm-4 profile-item">
          <a href="#profileModal6" class="profile-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src="http://fillmurray.com/360/250" class="img-responsive" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Profile Modal -->
  <div class="profile-modal modal fade" id="profileModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1">
            <div class="modal-body col-md-12">
              <h2>Taylor Yoshida Wilson</h2>
              <hr class="star-primary">
              <div class="col-md-4">
                <img src="http://fillmurray.com/325/400" class="img-responsive img-centered" alt="">
              </div>
              <div class="col-md-8">
                <table class="up-close">
                  <tr>
                    <td><h4>Name:</h4></td>
                    <td>Taylor Yoshida Wilson</td>
                  </tr>
                  <tr>
                    <td><h4>Company:</h4></td>
                    <td>TSN Inc.</td>
                  </tr>
                  <tr>
                    <td><h4>Position:</h4></td>
                    <td>Software Developer</td>
                  </tr>
                  <tr>
                    <td><h4>Project:</h4></td>
                    <td><a href="pickyeatr.herokuapp.com">Picky Eatr</a></td>
                  </tr>
                  <tr>
                    <td><h4>Profile:</h4></td>
                    <td>
                      Vegan 90's skateboard post-ironic, Neutra chambray four loko organic. Authentic Williamsburg synth pickled mlkshk, meditation irony American Apparel before they sold out migas lumbersexual DIY Bushwick brunch tote bag. Fingerstache flannel occupy tote bag Thundercats Wes Anderson. Slow-carb 3 wolf moon bespoke put a bird on it. Kitsch single-origin coffee four loko street art church-key, pickled four dollar toast messenger bag banh mi. Drinking vinegar VHS Pinterest Truffaut Odd Future retro, Banksy hoodie Schlitz Carles letterpress paleo mlkshk keffiyeh. Sustainable cliche hella brunch deep v Banksy.
                    </td>
                  </tr>
                </table>
                <ul class="list-inline item-details">
                  <li>Phone: <strong>778-555-5555</strong></li>
                  <li>Email: <strong>paolo@pie.com</strong></li>
                  <li>Website: <strong>www.pickyeatr.com</strong></li>
                  <li>GitHub: <strong>@paoloancheta</strong></li>
                  <li>LinkedIn: <strong>@tylersuzukinelson</strong></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
      </div>
    </div>
  </div>
