.contact-form-container {
  // width: 500px;
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  h2 {
    margin: 0px;
    text-align: center;
  }
  .form-control {
    border-radius: 5px;
  }
  .btn {
    height: 40px;
    padding-top: 4px;
    font-size: 18px;
  }
}

hr.thick {
  border-color: #CB0D0F;
  margin-top: 10px;
  width: 60%;
}
