// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contact-form-container {
  // width: 500px;
  position: relative;
  margin: 0 auto;
  h2 {
    text-align: center;
  }
  .form-control {
    border-radius: 5px;
  }
  .btn {
    height: 40px;
    padding-top: 4px;
    font-size: 18px;
  }
}