$bgDefault      : #cb0d0f;
$bgHighlight    : #cc6668;
$colDefault     : #ffffff;
$colHighlight   : #ffffff;
$dropDown       : false;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus { 
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight;
          background-color: rgba(35,172,155,0.1);}} //hover text here
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li > a {
            color: $colDefault;
            &:hover,  &:focus {
              color: $colHighlight;
              background-color: $bgHighlight; }}
          .divider {
            background-color: $bgHighlight;}}}
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: rgba(35,172,155,0.1);}}} //hover dropdown;
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}

@media (max-width: 993px) {
  ul.nav.navbar-nav li a {
    font-size: 13px;
    line-height: 30px;
  }
  a.navbar-brand {
    padding: 8px 15px;
  }
  .navbar-brand img {
    height: 45px;
  }
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  a.navbar-brand {
    padding: 3px 15px;
  }
  .navbar-brand img {
    height: 45px;
  }
  .navbar-collapse {
    background-color: #DDD;
  }
  ul.nav.navbar-nav li{
    background-color: white;
    border-bottom: 1px solid #DDD;
    a {
      font-size: 18px;
      color: $bgDefault;
    }
    a:hover {
      color: black;
    }
  }
}

/* Site Name Brand */
.navbar > .container .navbar-brand, 
.navbar > .container-fluid .navbar-brand {
  font-size: 20px;
  line-height: 55px;
}

/* Navbar List Items */
.navbar-default .navbar-nav li a {
  font-size: 18px;
  line-height: 55px;
}


