//Styles for the Sign Up and Log In forms

.modal-content {
  border-radius: 0px;
}

.user-container {
  // used on users/new, sessions/new
  width: 500px;
  position: relative;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 20px;
  h2 {
    margin-top: 0px;
  }
}

.login-container {
  // used on users/new, sessions/new
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  padding: 20px;
  h2 {
    margin-top: 0px;
  }
}

@media(max-width:515px) {
  .login-container {
    width: 95%;
    padding: 20px;
  }
  .user-container {
    width: 95%;
    padding: 20px;
  }
}